
body {
  background-color: rgb(35, 27, 49);  
  /* padding: 25px 20px 15px 25px; */
  padding: 1 rem;
  font-family: Comfortaa, sans-serif;
  color: rgb(226, 234, 234);
}

Section {
    background-color: rgb(101, 95, 107);
    margin: 1rem 1rem;
    padding: .5rem 1rem;
    border: 2px solid (49, 73, 52);
    border-radius: .8rem;
}

p {
  margin: 1rem;
}


li {
    display: flex;
    flex-wrap: wrap;
}


ul {
    list-style-position: inside;

}

#name {
 color: rgb(138, 179, 183);
 font-weight:bolder;
 padding: 2rem;
}


h1, h2 {
    font-size: 30px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    padding: .5rem;
    Margin: 0 1rem;
}


label {
  background-color: rgb(58, 35, 70);
  font-family: Arial;
  Margin: auto;
}

input, 
textarea {
    font-size: 18px;
    padding: 0.5rem;
    border: 3px solid darkgrey;
    border-radius: 8px;
    margin:.30rem;
    padding:.25rem;
}

button[type="submit"] {
  background-color: azure;
  border: 3px solid darkblue;
  border-radius: 5px;
  padding: .25rem;
  margin: auto;
} 


button[type="submit"]:hover {
  color:hotpink;
  font-size: large;
}

#experience ul {
    display: flex;
    flex-direction: column;
 }

a {
  font-family: Comfortaa, sans-serif;
  font-size: medium;
  color: rgb(139, 231, 223);
  text-decoration: none;
 }

a:hover {
  color:hotpink;
  font-size: large;
}

#leave_message {
  justify-content: center; 
  display: flex;
  padding: 3rem;
  flex-direction: column;
  flex-basis: auto;
}

.topnav {
  background-color: rgb(24, 41, 32);
  padding: 1rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

footer {
  text-align: center;
}

.form-row > label {
    padding: .5em 1em .5em 0;
}

.form-row > input,
.form-row > button {
    padding: .5em;
}

/* .list {
  list-style-type:none;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-wrap:wrap;
}

.list li {
  color:rgb(255, 255, 255);
  padding: 10px;
  border: 2px solid #199621;
  margin-right: 10px;
  border-radius: .8em;
} */

@media (max-width: 650px) {
  #expereince ul 
  padding-left: 0;

}
 
.nav-bar{
  font-size: 10px;
}